:root {
  --color-primary-dark: #2ec4b6;
  --color-primary-light: #cbf3f0;
  --color-secondary-dark: #707070;
  --color-secondary-light: #ededed;
  --color-accent: #e0a458;
  --color-accent-secondary: #f991cc;
  --font-primary: "Playfair Display Regular", serif;
  --font-secondary: "Josefin Sans Light", san-serif;
}

html {
  font-family: var(--font-secondary);
}

h1,
h2,
h3, {
  font-family: var(--font-secondary);
  color: var(--color-primary-dark);
}

p {
  font-family: var(--font-primary);
}

ul,
ol, {
  font-family: var(--font-secondary);
  color: var(--color-secondary-dark);
}


a {
  font-family: var(--font-primary);
  color: var(--color-secondary-dark);
}

.footer {
  font-family: var(--font-secondary);
  color: var(--color-secondary-dark);
}
