:root {
  --color-primary: #707070;
  --color-primary-light: #ededed;
  --color-secondary: #202120;
  --color-secondary-light: #fff;
  --color-accent: #6dd3ce;
  --color-button: eaedeb;
  --color-background: #e2e2e2;
}

--font-primary: "Playfair Display", serif;
--font-secondary: "Josefin Sans Light", san-serif;

}

html {
  font-family: var(--font-primary);
}
