:root {
  --color-primary: #2ec4b6;
  --color-primary-light: #cbf3f0;
  --color-secondary: #707070;
  --color-secondary-light: #ededed;
  --color-accent: #e0a458;
}

--font-primary: "Playfair Display", serif;
--font-secondary: "Josefin Sans Light", san-serif;

}

html {
  font-family: var(--font-primary);
}
