.btn {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-dark);
  color: var(--color-secondary-dark);
}

.btn:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}
