.cart-card {
  border: solid 1px #e0a458;
  font-family: var(--font-secondary);
}

.icon-card {
  border: solid 1px #e0a458;
  font-family: var(--font-secondary);
}

.price {
  font-weight: bold;
  font-family: var(--font-primary);
}
